body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(136, 191, 210);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#navbar {
    margin: 0px;
    padding: 10px;
    background-color: rgb(3, 22, 42);
    color: rgb(136, 191, 210);
    display: block;
    justify-content: center;
}

#icone {
    width: 120px;
    height: 120px;
}