body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(136, 191, 210);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: large;
}

#navbar {
    margin: 0px;
    padding: 10px;
    background-color: rgb(3, 22, 42);
    display: block;
    justify-content: center;
}

#icone {
    width: 120px;
    height: 120px;
}

#html {
    background-color: rgb(3, 22, 42);
    padding: 5px;
    border: 3px;
    margin: 30px;
    border-style: solid;
    border-color: white;
}

.imagens {
    width: 120px;
    height: 100px;
}

.titulo1 {
    background-color: rgb(136, 191, 210);
    padding: 5px;
    border: 3px;
    margin: 30px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.paragrafo {
    text-align: center;
}